header h1{
 text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

header{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: rgb(75, 75, 224);
  color: white;
}


.nav {
  display: flex;
  justify-content: space-evenly;
}


.nav ul {
  display: flex;
  list-style-type: none;
  padding-left:0px;
  gap: 10px;
  padding: 10px;
  margin:0;
  padding-top: 0%;
}


.nav ul li{
  padding: 10px;
  font-family: 'AmstelvarAlpha';
}


.nav ul li a {
  color:black;
  text-decoration: none;
  padding: 1em 2em 1em 2em;
  display:inline-block;
  border-radius: 5px;
}


.nav ul li :hover{
  background-color: rgb(214, 39, 39);
  color: rgb(202, 206, 245);
}


/*--------------index------------------------*/


body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(white,#9198e5,white);
    height: 100%;
    margin: 0%;
    padding: 0%;
  }


.index h1,p,nav{
  color: black;
}
.index nav ul{
  border-bottom: 2px solid rgb(214, 39, 39); ;
}



.index main{
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.index main .accroche{
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: auto;
  padding-right: 7%;
  padding-top: 10%;
}


.index main section{
  display: flex;
  align-items: center;
}
.index .contact{
  padding-top: 30%;
}

.index .contact p{
  margin: 3%;
  font-size:small
}


.index h1{
  color: rgb(214, 39, 39);;
}

.index h1, .index p{
  font-size:x-large
}
/*--------------hardskills------------*/

.hardSkills img{  
  padding: 2%;
  padding-left: 10%;
  width:200px;
}

/*--------------softskills------------*/

.softSkills main{
  display: flex;
  flex-direction: row;
}

.softSkills main section{
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius :10px;
  width: 300px;
}

.softSkills h1{
  padding-left: 3%;
}

/*-------------ppp--------------*/
.ppp main{
  display: flex;
  flex-direction: row;
}

.ppp main section {
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius :10px;
  width: 500px;
}

/*-----------Projets---------------*/
.projets main{
display: flex;
flex-direction: row;

}

.projets main section{
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius :10px;
  width: 500px;
}


.projets h1, .projets h2{
  padding-left: 3%;
}
.projets p{
  padding: 2%;
  padding-bottom: 0%;
 
}
/*--------------sport------------------------*/
.sport main{
  display: flex;
  flex-direction: row;
  
  }
  
  .sport main section{
    border: 3px solid rgb(75, 75, 224);
    padding: 2%;
    margin: 2%;
    border-radius :10px;
    width: 500px;

  }
  .natation{
    background: url("image/natation.jpg");
    background-size: cover;
  }
  .natation p,.natation h3{
    color: white;
    font-size: large;
  }
 
















